apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: cs-invoker-pool
  namespace: {{ .Values.namespace }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: cs-invoker-pool
  minReplicas: {{ .Values.replicas.invokerPool }}
  maxReplicas: 50
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: cs-http-gateway
  namespace: {{ .Values.namespace }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: cs-http-gateway
  minReplicas: {{ .Values.replicas.httpGateway }}
  maxReplicas: 30
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
