apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: code-sous-default
  namespace: {{ .Values.namespace }}
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - {}
  egress:
    - {}
